.list{
    width: 1000px;

    .item{
        width: 100%;
        height: 50px;
        padding: 0 16px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .left{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
        }
        .right{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
        }

        &:hover{
            backdrop-filter: blur(4px) brightness(0.8)
        }

        &.active{
            background-color: #2e2e2e;
        }
    }   
}