.dropzone {
    width: 600px;
    height: 200px;
    margin: 0 auto;
    border: 2px dashed #228be6;
    border-radius: 14px;
    background-color: hsla(0, 0%, 64%, 0.288);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #228be650;
    }

    &.isDragActive {
        border-color: #9c02f5;
    }
}

.input {
}