
.footer{
    width: 100%;
    min-height: 50px;
    height: auto;
    padding: 20px 20px;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2e2e2e;

    display: flex;
    align-items: end;

    transition: all 0.3s ease;

    &.empty{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // &.playing{
    //     height: 200px;
    // }
}

.selectedAudio{
    width: 1000px;
    margin: 0 auto;

    .name{
        text-align: center;
        margin: 0 auto;

        margin-bottom: 20px;
    }

    .controls{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        .timeline{
            flex: 1;
        }

        .block{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
        }
    }
    
}